In [2]:
#importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb

In [3]:
df = pd.read_csv('until-totaltime.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'until-totaltime.csv'

In [3]:
df.head(10)

,third_ac,arrival,from_station_code,name,zone,chair_car,first_class,sleeper,from_station_name,number,departure,return_train,to_station_code,second_ac,to_station_name,type,first_ac,distance,total time
0,0,12:15:00,JAT,Jammu Tawi Udhampur Special,NR,0,0,0,JAMMU TAWI,04601,10:40:00,04602,UHP,0,UDHAMPUR,DEMU,0,53,1.583333
1,0,08:35:00,UHP,UDHAMPUR JAMMUTAWI DMU,NR,0,0,0,UDHAMPUR,04602,06:45:00,04601,JAT,0,JAMMU TAWI,DEMU,0,53,1.833333
2,0,17:50:00,JAT,JAT UDAHMPUR DMU,NR,0,0,0,JAMMU TAWI,04603,16:15:00,04604,UHP,0,UDHAMPUR,DEMU,0,53,1.583333
3,0,19:50:00,UHP,UDHAMPUR JAMMUTAWI DMU,NR,0,0,0,UDHAMPUR,04604,18:20:00,04603,JAT,0,JAMMU TAWI,DEMU,0,53,1.500000
4,1,12:30:00,BDTS,Mumbai BandraT-Bikaner SF Special,NWR,0,0,1,MUMBAI BANDRA TERMINUS,04728,14:35:00,04727,BKN,1,BIKANER JN,SF,0,1212,21.916667
5,0,23:45:00,DNA,Rewari Degana Merta Special,NWR,0,0,0,DEGANA JN,04853,22:30:00,04854,MTD,0,MERTA ROAD JN,Pass,0,44,1.250000
6,0,04:40:00,MTD,Degana Merta Special,NWR,0,0,0,MERTA ROAD JN,04854,03:40:00,04853,DNA,0,DEGANA JN,Pass,0,44,1.000000
7,1,17:50:00,JAT,JAMMU TAWI - BANDRA TERMINUS AC Suvidha Specia...,WR,0,0,1,JAMMU TAWI,09022,09:30:00,09021,BDTS,1,MUMBAI BANDRA TERMINUS,SF,1,1957,32.333333
8,1,21:55:00,DR,Chalukya Express,CR,0,0,1,MUMBAI DADAR CENTRAL,11017,21:30:00,11018,YPR,1,YESVANTPUR JN,Exp,0,1205,24.416667
9,1,04:25:00,CSTM,Konark Express,CR,0,0,1,MUMBAI CST,11019,15:10:00,11020,BBS,1,BHUBANESWAR,Exp,0,1932,37.250000

In [4]:
dm=df["type"]

In [5]:
dm

0       DEMU
1       DEMU
2       DEMU
3       DEMU
4         SF
        ...
4392    Pass
4393    Pass
4394    MEMU
4395    Pass
4396    Pass
Name: type, Length: 4397, dtype: object

In [6]:
Train_type=dm.to_numpy(dtype=None,copy=False)

In [7]:
Train_type

array(['DEMU', 'DEMU', 'DEMU', ..., 'MEMU', 'Pass', 'Pass'], dtype=object)

In [8]:
dm.unique()

array(['DEMU', 'SF', 'Pass', 'Exp', 'Mail', 'JShtb', 'GR', 'MEMU', 'Raj',
       'Shtb', 'SKr', 'Drnt', 'Hyd', 'Toy', 'Del'], dtype=object)

In [9]:
Train_Type, count = np.unique(Train_type, return_counts=True)

In [10]:
Train_Type

array(['DEMU', 'Del', 'Drnt', 'Exp', 'GR', 'Hyd', 'JShtb', 'MEMU', 'Mail',
       'Pass', 'Raj', 'SF', 'SKr', 'Shtb', 'Toy'], dtype=object)

In [12]:
count

array([   4,    2,   48, 1193,   52,   20,   40,   93,   17, 2096,   48,
        705,   38,   31,   10], dtype=int64)

In [13]:
Train_Type,count

(array(['DEMU', 'Del', 'Drnt', 'Exp', 'GR', 'Hyd', 'JShtb', 'MEMU', 'Mail',
        'Pass', 'Raj', 'SF', 'SKr', 'Shtb', 'Toy'], dtype=object),
 array([   4,    2,   48, 1193,   52,   20,   40,   93,   17, 2096,   48,
         705,   38,   31,   10], dtype=int64))

In [14]:
new_frame=pd.DataFrame(count,Train_Type)

In [15]:
new_frame

          0
DEMU      4
Del       2
Drnt     48
Exp    1193
GR       52
Hyd      20
JShtb    40
MEMU     93
Mail     17
Pass   2096
Raj      48
SF      705
SKr      38
Shtb     31
Toy      10

In [1]:
import matplotlib.pyplot as plt

plt.figure(figsize=(20,13))
labels = Train_Type
sizes = count
explode = (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0)  
#AGAR TUMLOGO KO KOI SPECIFIC PART KO BAHAR KARNA HE TOH(BHAR KARKE i.e HIGHLIGHT KARKE DIKHANA HE TOH "EXPLODE" PE VALUE CHANGE KARO)

fig1, ax1 = plt.subplots()
ax1.pie(sizes, explode=explode, labels=labels, autopct='%1.1f%%',
        shadow=True, startangle=90)
ax1.axis('equal')  
plt.show()

NameError: name 'Train_Type' is not defined